header{
    background-image: url('static/images/background.jpg');
    height: 65vh;
     width: 100%;
     border-bottom: 9px solid #7e7a7af5;
}
.header{
    background-color: #000;
   opacity: 0.74;
   width: 100%;
    height: 65vh;
    position: absolute;
}
.para_contents{
    margin-bottom:6px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header_content{
    margin: auto;
    width: 70%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    height: 100px;
    align-items: center;
}
.header_content >button{
    padding:9px 12px;
    
    border:none;
    border-radius: 4px;
    color:white;
    background-color: rgb(255, 4, 4);
}
.header_content >button:hover{
    cursor:pointer;
}
.header_content >img{
    width: 150px;
}
.main_headerContent{
    z-index: 5;
    position:relative;
    top:27%;
    text-align: center;
    color:white;
}
.main_headerContent h2{
    font-size: 3rem;
    font-weight: bolder;
    position: relative;
    z-index: 2;
    font-family: sans-serif;
}
.short_par > p{
    font-family: sans-serif;
      margin:0.5rem;
        font-size: 1.4rem;
} 
.img_holder{
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    padding:0.6rem;
    border:2px solid  #7e7a7af5;
    border-radius: 6px;
    background-color: black;
}
.last_par {
    margin-top:1.3rem;
    font-family: sans-serif;
    font-size: 1.2rem;
}
.btn_inp{
    margin-top: 12px ;
    display: flex;
    align-items: center;
    justify-content: center;
     width: 100%;
     flex-wrap: wrap;
}
.btn_inp >input{
    width: 30%;
    border-radius: 6px;
    padding:15px;
    color:white;
    background: transparent;
}
input::placeholder{
    color:white;
    background-color: black;
 font-size: 1rem;
}
.btn_inp >button{
    color:white;
    width: 13%;
    font-size: 1.3rem;
    padding:12px;
    border-radius: 6px;
    border:none;
    margin-left:6px;
    background-color: rgb(255, 4, 4);
}
.btn_inp > button:hover{
    cursor:pointer;
}
button > a {
    color:white;
    text-decoration:none;
    cursor:pointer;
}
button >span{
    margin-left:5px;
    font-size: 1.4rem;
}

/* for smaller screen less than 1200 px */

@media only screen and (max-width:1200px){

    .txt_holder{
        width:100%;
        padding:3.4rem;
        margin:auto;
    }
    .txt_holder h1{
        width: 100%;
        margin-bottom:0.5rem;
        font-size: 1.9rem;
        font-weight: bolder;
        text-align: center;
    }
    .txt_holder p{
        width: 100%;
        text-align: center;
      font-size:1.2rem;
    }
     .header_content{
        justify-content: space-between;
        width: 90%;
     }
     .img_holder{
        display:flex;
        justify-content: space-around;
        align-items: center;
        font-family: sans-serif;
        bottom:0;
        padding:0.6rem;
        width: 49%;
        left: 121px;
        bottom: 25px;
        position: absolute;
        z-index: 3;
        border:2px solid  #7e7a7af5;
        border-radius: 6px;
        background-color: black;
    }
     .txt_mdl >h1{
        font-size: 2.4rem;
     }
     .txt_mdl{
        text-align: center;
        width: 70%;
     }
     .paragraphs h1{
        font-size: 2.4rem;
     }
     header{
        height: 65vh;
     }
     .header{
        height: 65vh;
     }
     .header_content > img{
        width:100px;
     }
     .main_headerContent{
        top:15%;
     }
     .main_headerContent h2{
        font-size: 2rem;
     }
     .short_par > p{
        font-size: 1.1rem;
     }
     .last_par{
        font-size: 1.1rem;
     }
     .btn_inp{
        width: 70%;
        margin: auto;
        display: flex;
        align-items: center;

     }
     .btn_inp >input{
        margin-top: 12px;
        width:60%;
     }
     .btn_inp >button{
        font-size: 1.2rem;
          margin-top: 12px;
          width:30%;
     }
     .video_img{
        width:80%;
     }
     .paragraphs{
        text-align: center;
        width: 90%;
     }
     .img_vid >video{
        position: absolute;
        left:65px;
       top:85px;
        width:74%;
    }
}
@media only screen and (min-width:1200px){
    .txt_holder{
        width:60%;
        padding:3.4rem;
        margin:auto;
    }
    .txt_holder h1{
        width: 10%;
        margin-bottom:0.5rem;
        font-size: 3rem;
        font-weight: bolder;
    }
    .txt_holder p{
        width: 45%;
      font-size:1.4rem;
    }
    .txt_mdl h1{
        font-size: 3rem;
        font-weight: bolder;
        font-family: sans-serif;
    }
    .img_holder{
        z-index: 3;
        position: absolute;
        display:flex;
        justify-content: space-around;
        align-items: center;
        font-family: sans-serif;
        bottom:0;
        width: 50%;
        left: 115px;
        bottom: 0;
        padding:0.2rem;
        border:2px solid  #7e7a7af5;
        border-radius: 6px;
        background-color: black;
     }
    .paragraphs >h1{
        font-weight: bolder;
        font-size:3.2rem ;
        
        font-family: sans-serif;
    }
    
    .paragraphs{
     
        width: 40%;
     }
     .txt_mdl{
        width:40%;
    }
     .img_vid >video{
        position: absolute;
        left:65px;
       top:85px;
        width:74%;
    }
}
/* for device having 700px */
@media only screen and (max-width:700px){
    header{
        height: 70vh;
     }
     .header{
        height: 70vh;
     }
     
     .img_holder{
        z-index: 3;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    bottom: 0;
    height: 17%;
    width: 57%;
    left: 125px;
    bottom: 0;
    padding: 0.2rem;
    border: 2px solid #7e7a7af5;
    border-radius: 6px;
    background-color: black;
     }
     .imgs{
        justify-content: center;
        display: flex;
     }
    .btn_inp >input {
        width: 100%;
    }
    .btn_inp >button{
        width: 50%;
    }
    .img_vid >video{
        position: absolute;
        left: 28px;
        top: 42px;
        width: 69%;
    }
}
/* for device having 430px */
@media only screen and (max-width:430px){
    header{
        height: 85vh;
    }
    .header{
        height: 85vh;
    }
    .img_holder{
        z-index: 3;
        position: absolute;
        display: flex;
        align-items: center;
        font-family: sans-serif;
        bottom: 0;
        height: 17%;
        width: 57%;
        font-size: 0.4rem;
        left: 59px;
        bottom: 0;
        padding: 0.2rem;
        border: 2px solid #7e7a7af5;
        border-radius: 6px;
        background-color: black;
     }
    .btn_inp >button{
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 1rem;
    }
}
@media only screen and (min-width:430px) and (max-width:520px){
    .img_holder{
        z-index: 3;
        position: absolute;
        display: flex;
        align-items: center;
        font-family: sans-serif;
        bottom: 0;
        height: 17%;
        width: 50%;
        font-size: 0.4rem;
        left: 100px;
        bottom: 0;
        padding: 0.2rem;
        border: 2px solid #7e7a7af5;
        border-radius: 6px;
        background-color: black;
     }
}
section{
    background-color: black;
    color: white;
    border-bottom: 9px solid #7e7a7af5;
}
.img_first{
    height: 100%;
}
.img_first >img{
    height: 100%;
}
.paragraphs >p{
    margin-top:0.5rem;
    font-size: 1.4rem;
    font-family: sans-serif;

}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 85vw;
    flex-wrap: wrap;
    margin: auto;
}
.img_vid{
    position: relative;
}
.img_vid >img{
    position: relative;
    z-index: 1;
    width:90%;
}
@media only screen and (min-width:1200px) and (max-width:2500px)  {
    
    .main{
         padding-bottom:3.5rem;
    }
    .header{
        height: 90vh;
    }
    header{
        height: 90vh;
    }
}


.txt_mdl p{
    font-size: 1.3rem;
    margin-top: 0.4rem;
    font-family: sans-serif;
}
.middle{
    background-color: black;
    color:white;
    padding:4.3rem;
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
}
.third_img{
    color:white;
}

.imgs >img{
    width:85%;
}
.imgs{
    position: relative;
}
.second_txt >p:last-child{
    color:blue;
}

.img_first >img{
    width:50px;
}
.just_txt{
    
    background-color: black;
    color:white;
    border-top: 8px solid  #7e7a7af5;
}
.just_txt {
    border-bottom: 8px solid #7e7a7af5;
    font-family: sans-serif;
   
    margin: auto;
}
.above_footer{
    color:#ffff;
    background-color: black;
    border-top:8px solid #7e7a7af5;
}
.header_question h1{
    margin-top: 2.4rem;
    font-family: sans-serif;
    font-weight: bolder;
     font-size: 3.3rem;
     text-align: center;
}
.more_containers{
    flex-direction: column;
    display: flex;
    width: 100%;
    margin-top: 0.7rem;
    gap: 0.6rem;
}
.more{
   gap:13px;
    align-items: center;
    padding:1.4rem;
    justify-content: space-between;
    display: flex;
    width: 80%;
    background-color: #464444;
    margin: auto;
    cursor: pointer;
}
.more p{
    font-size: 1.6rem;
    font-family: sans-serif;
}
.last_cont{
    margin-top: 2.8rem;
    text-align: center;
}
.last_cont > p{
    font-family: sans-serif;
    font-size: 1.2rem;
}
footer{
    border-top:6px solid #464444;
    background-color: black;
    color: #ffff;
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    padding:3rem;
    gap:4.4rem;
    justify-content: space-around;
    align-items: center;
    font-size: 0.9rem;
}
footer a{
    color:rgb(197, 197, 197);
}
.contents{
    gap:14px;
    display: flex;
    flex-direction: column;
}
.contents>p{
    color:rgb(197, 197, 197);
}
select{
    width: 100%;
    background-color: black;
    color:white;
    padding:7px;
    border-radius: 4px;
  
}
.gapper{
    background-color: black;
    padding:44px;
}